#shellcheck disable=SC2148,SC2155

source_up_if_exists

# Terrabutler ENVs
export TERRABUTLER_ENABLE=true
export TERRABUTLER_ROOT=$(pwd)
export TERRABUTLER_ENV=$(cat "${TERRABUTLER_ROOT}"/site_inception/.terraform/environment)

# AWS profile file
export AWS_CONFIG_FILE="${TERRABUTLER_ROOT}/utils/aws-auth/config-${{values.organization_var}}"
export AWS_SHARED_CREDENTIALS_FILE="${TERRABUTLER_ROOT}/utils/aws-auth/credentials-${{values.organization_var}}"
if [ "${IS_MONTBLU_DEVOPS:-no}" = "yes" ]; then
  export AWS_CONFIG_FILE="${TERRABUTLER_ROOT}/utils/aws-auth/config-${{values.organization_var}}-devops-mntb"
  export AWS_SHARED_CREDENTIALS_FILE="${TERRABUTLER_ROOT}/utils/aws-auth/credentials-${{values.organization_var}}-devops-mntb"
fi

# Export personal credentials file
while read -r line;do export "${line?}";done < ~/."${{values.organization_var}}"/global
